# This is an example template for a user init file for developers
# Developers can copy this file to .rsconfig.user and then edit .rsconfig.user
#
set _RANDOMUSERURL="http://randomuser.me/api"
set _MYIPURL="http://api.ipify.org"
alias BASEAPI "base http://api.ipify.org"
